body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 80px;
}

.board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top: 50px;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h2 {
    margin-bottom: 0;
}